.candidates__root {
  background: #fff;
  width: 100%;
  position: relative;
  min-height: 200px;
}

.candidates__tabs-header {
  width: fit-content !important;
}

.candidates__add-button {
  position: absolute !important;
  right: -3.5em;
  top: 5px;
}
